<% if user_signed_in? %>

<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the file upload tester</h1>
   <p>Sign up and upload what ever pics you want. Currently only jpg, png and gifs are supported. PDF files are coming your way too.</p>
    <p>
      You have found the rails tester for Online Educational Data Base. Maybe we will turn this into a thesis repsoity or research crowd funding platform. The unfinished barely started drupal MVP stub can be found at: 
      <%= link_to "oedb.co", "http://oedb.co"%>
    </p>
    <p>
      <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-large btn-primary"%>
    </p>
  </div>
<% end %>
