<h1>About</h1>
<p>This website is Joel learning rails. Maybe actually test out the thesis dump idea and make an mvp. So far rails has been a better experience than drupal.
</p>
<p>
  <%= link_to "One month rails", "http://onemonthrails.com" %>
  is where I am learning ruby. 50$ for good quality videos. I highly recommend it.
</p>
