<div class="center">
<h1>Welcome to Joels Ruby on rails learning experience</h1>
<p>
  You have found the home page for Online Educational Data Base. The old shitty drupal MVP stub can be found at: 
  <%= link_to "oedb.co", "http://oedb.co"%>
</p>

<p>
  <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-large btn-primary"%>
</p>
</div>
