<h1>Welcome to Joels One month rails learning experience#home</h1>
<p>
  You have found the home page for
  <%= link_to "wtx.com.au", "http://wtx.com.au"%>
</p>

<p>
  <%= link_to "Sign up now", "#"%>
</p>
